/***
 *    ███╗   ███╗ █████╗ ██╗   ██╗██╗  ██╗███████╗███╗   ███╗
 *    ████╗ ████║██╔══██╗╚██╗ ██╔╝██║  ██║██╔════╝████╗ ████║
 *    ██╔████╔██║███████║ ╚████╔╝ ███████║█████╗  ██╔████╔██║
 *    ██║╚██╔╝██║██╔══██║  ╚██╔╝  ██╔══██║██╔══╝  ██║╚██╔╝██║
 *    ██║ ╚═╝ ██║██║  ██║   ██║   ██║  ██║███████╗██║ ╚═╝ ██║
 *    ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝
 *                                                           
 *           by MayhemBill#0420                                                
 *                                                           
 *                                                           
 *                                                           
 *                                                           
 *                                                           
 *                                                           
 */

/* Imports First */
@import url("https://ellexidecodes.github.io/Discord-Themes/css/new-tags.css"); /* Ellexides Tags */


/* Beautiful Categories */
div[class^=container-] div[class*=wrapper] > div[class*=name],#app-mount .membersGroup-v9BXpm,#app-mount .privateChannels-1nO12o header  {text-align: center;display: flex;justify-content: center;align-items: center;overflow: hidden;color: var(--NameColour);opacity: 0.6;transition: .2s opacity ease-in-out}
div[class^=container-] div[class*=wrapper] > div[class*=name]:before, div[class^=container-] div[class*=wrapper] > div[class*=name]:after,
#app-mount .membersGroup-v9BXpm:before,#app-mount .membersGroup-v9BXpm:after,
#app-mount .privateChannels-1nO12o header:before,#app-mount .privateChannels-1nO12o header:after  {content: ""; width: 100%;vertical-align: middle;height: 1px;background: var(--LineColour);display: inline-block; margin: 0 5px}
#app-mount .containerDefault-3GGEv_:hover,#app-mount .membersGroup-v9BXpm:hover,#app-mount .privateChannels-1nO12o header:hover {opacity: 1}
#app-mount .containerDefault-3GGEv_,#app-mount .membersGroup-v9BXpm,#app-mount .privateChannels-1nO12o header  {padding: 5px}
#app-mount .nameMuted-1MCOt4,#app-mount .nameMuted-1MCOt4:before,#app-mount .nameMuted-1MCOt4:after {opacity: .4}


/* Keyframes */

@keyframes fadeFromTop {
  0% {
      opacity: 0;
      transform: translateY(-50%)
  }
  100% {
      opacity: 0.9;
      transform: none
  }
}

@keyframes fadeFromRight {
  0% {
      opacity: 0;
      transform: translateX(50%)
  }
  100% {
      opacity: 0.9;
      transform: none
  }
}

@keyframes fadeFromBottom {
  0% {
      opacity: 0;
      transform: translateY(50%)
  }
  100% {
      opacity: 0.9;
      transform: none
  }
}

@keyframes fadeFromLeft {
  0% {
      opacity: 0;
      transform: translateX(-50%)
  }
  100% {
      opacity: 0.9;
      transform: none
  }
}

@keyframes slide-up {
  from {
    transform: translate(0, 100%);
  }
}

@keyframes slide-down {
  from {
    transform: translate(0, -100%);
  }
}

@keyframes slide-left {
  from {
    transform: translate(-100);
  }
}

@keyframes slide-right {
  from {
    transform: translate(100%);
  }
}

@-webkit-keyframes mentionpulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--main-color);
  }
  70% {
    -webkit-box-shadow: 0 0 0 5px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes show-status {
  from {
    transform: translateY(100%) translateX(0%) translateZ(0px);
  }
}

@keyframes status {
  from {
    transform: scale(0);
    opacity: 0
  }
}

@keyframes context-open-invertY {
  0% {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
}

@keyframes context-open-new {
  0% {
    transform: scale(1, 0.8);
  }
}

@keyframes context-open {
  0% {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@keyframes popoutanim-inner {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popoutanim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}